MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_DATABASE=jingda
DB_URL=jdbc:mysql://localhost:3306/jingda?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Tokyo
DB_USERNAME=app_user
DB_PASSWORD=app_password
DDL_AUTO=update
CORS_ALLOWED_ORIGIN=http://localhost:5173
